

*{
    margin: 0;   
    padding: 0;
}
html,body {
    height:100%;
}
body{
    margin: 0;   
    padding: 0;
}

.compevent{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.login-card{
    width: 500px;
}
.entry-form{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width:40vw;
}
.skel-card{
    height:126.5px;
}
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.comp-container{
    overflow-y: hidden;
}
.comp-height{
    min-height: 94vh;
}
.student-dropdown{
    max-height: 200px;
    overflow-y: auto;
    width:100%;

}
.student-dropdown-item:hover{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.student-dropdown::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .student-dropdown {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .modal-size{
    min-width: 35vw;
    min-height: 35vw;
  }
  .max-height{
    height: 100%;
  }